/* Import nunito sans font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #CCCCCC;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
