.footer-main {
  height: 5vh;
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #2fa9f3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 25px;
  margin-top: auto;
}

.footer-text {
  color: #2fa9f3;
  font-size: 0.9em;
  font-weight: bold;
}
