:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-collapsed {
  width: 6vw;
  margin: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 2px solid #2fa9f3;
  border-radius: 6px;
  flex: 1;
  min-height: 0;
}

.p-button.p-button-text {
  background: transparent;
  border: none;
  padding: 0;
  width: 6vw;
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.p-button.p-button-text:hover {
  background: rgba(0, 0, 0, 0.04);
}

.sidebar-toggle-button .p-button-icon,
.sidebar-user-icon .p-button-icon {
  font-size: 3rem;
  font-weight: 600;
}
